name: Python Lint & Test

on:
  pull_request:
    branches:
      - 'main'

jobs:
  Lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      - name: Lint with ruff
        run: |
          ruff check fritz_advanced_thermostat

  Test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[test]
      - name: Run tests
        run: |
          pytest

  Check:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs:
      - Lint
      - Test
    steps:
      - run: |
          result_lint="${{ needs.Lint.result }}"
          result_test="${{ needs.Test.result }}"
          if [[ $result_lint == "success" && $result_test == "success" ]]; then
            exit 0
          else
            exit 1
          fi
